<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestsSuite" parallel="methods" thread-count="2" >
<listeners>
<listener class-name="WebDriverListener"></listener>
</listeners>
<test name="My First Selenium TestNG Test">
    <parameter name="browserName" value="chrome"></parameter>
    <classes>
        <class name="ThreadLocalDemo"/>
    </classes>
</test>
</suite>
