<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AllTestsSuite" parallel="tests" thread-count="2" >
<test name="My First Selenium TestNG Test" group-by-instances="true">
    <classes>
        <class name="FirstTest"/>
    </classes>
</test>
</suite>
